body {
  height: 2000px;
}

.container {
  background-color: var(--background-color);
  padding-top: 60px;
}

.app_content {
  background-color: var(--background-color);
  padding-top: 26px;
  width: 820px;
  margin: auto;
}

.header {
  height: 60px;
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  background-color: var(--white-color);
  z-index: 10;
}
  /* Header */
.header__nav {
  display: flex;
  justify-content: space-around;
  height: 60px;
  line-height: 60px;
}

.header__nav-logo {
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  margin-left: 26px;
  -webkit-user-select: none;
  user-select: none;
}

.header__logo {
  width: 102px;
  height: 36px;
  transform: translateY(40%);
}

.header__nav-search {
  position: relative;
  left: 7%;
  width: 250px;
  z-index: 1;
}


.header__search-icon {
  font-size: 1.4rem;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 14px;
}

.header__search {
  height: 36px;
  width: 110%;
  background-color: var(--text-color);
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--primary-color);
  padding: 0 40px;
  border-radius: 8px;

}

/* Header history */
.header__search:focus  ~ .header__search-history {
  display: block;
}

.header__search:focus ~ .header__nav-search::before {
  display: block;
}

.header__search-history {
  position: absolute;
  top: 60px;
  width: 375px;
  max-height: 350px;
  overflow-y: scroll;
  background-color: var(--white-color);
  border-radius: 5px;
  left: -20%;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.16);
  display: none;
}

.header__nav-search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-color: red transparent transparent red;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  right: calc(50% + -59px);
  top: 50px;
  display: none;
}

.header__search-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 100;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.header__search-heading-item {
  margin: 0 20px;
}

.header__search-heading-item--active {
  color: #0095f6;
}

.header__search-heading-item--active:hover {
  cursor: pointer;
}

.header__search-history-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  /* overflow: hidden; */
}

.header__search-history-item {
  width: 100%;
}

.header__search-history-link {
  display: flex;
  text-decoration: none;
  padding: 0 20px;
  height: 60px;
  margin-bottom: 8px;
  margin-top: 6px;
}

.header__search-history-link:hover {
  background-color: var(--background-color);
}

.header__search-history-img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transform: translateY(20%);
}

.header__search-history-info {
  font-size: 1.4rem;
  flex: 1;
  margin-left: 10px;
  transform: translateY(20%);
}

.header__search-history-name {
  margin: 0;
  height: 18px;
  line-height: 18px;
  color: var(--black-color);
  margin-bottom: 2px;
}

.header__search-history-description {
  margin: 0;
  height: 18px;
  line-height: 18px;
  color: var(--primary-color);
}

.header__search-history-icon {
  font-size: 1.9rem;
  color: var(--primary-color);
  height: 16px;
  width: 16px;
  transform: translateY(140%);
}

/* Header nav list */

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-right: 26px;
  align-items: center;
}

.header__nav-list-items {
  font-size: 2.4rem;
  padding-left: 24px;
}

.header__nav-item {
  text-decoration: none;
  color: var(--black-color);
}

.header__nav-item-avt {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(18%);
  border: 1px solid var(--border-color);
  -webkit-user-select: none;
  user-select: none;
}

/* Container */

/* Story */

/* Forward */
/* 
.content__story-forward {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  left: calc(91% + 2px);
  z-index: 1;
  line-height: 120px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-user-select: none;
  user-select: none;
}

.content-forward-icon {
  height: 22px;
  width: 22px;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.85);
  color: rgba(101, 101, 101, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* list */
.content__story {
  display: grid;
  width: 470px;
  align-items: center;
  justify-content: center;
  color: rgb(51, 51, 51);
}

.content__story-container {
  height: 120px;
  overflow: hidden;
  /* overflow-x: scroll;
  overscroll-behavior-x: contain; */
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  background-color: var(--white-color);
  padding: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 5rem;
  grid-gap: 2rem;
}

.story-container__content {
  display: grid;
  grid-gap: 0.5rem;
  margin: 0;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}


.story__content-img {
  display: inline-block;
  /* width: 5rem;
  height: 5rem; */
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
              radial-gradient(white 65%, transparent 0),
              linear-gradient(to top right, orange, deeppink);
  user-select: none;
}

.content__story-container .story-container__content:last-child::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 100%;
  right: -2rem;

}

.story__content-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(42%);
}

.story__content-text {
  text-align: center;
  font-size: 1.2rem;
  user-select: auto;
}

/* Content-news */
.content__container {
  margin-bottom: 16px;
}

.app__content-left {
  padding-right: 10px;
}

.app__content-right {
  padding-left: 32px;
  margin-top: 12px;
}

.content__news {
  width: 470px;
  margin-top: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px 0px 2px;
  background-color: var(--white-color);
  overflow: hidden;
}

.content__news-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  -webkit-user-select: none;
  user-select: none;
}

.content-header__info {
  display: flex;
}

.content__info-avt {

}

.content-avt__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(15%);
}

.content__info-name {
  margin-left: 10px;
  font-size: 1.4rem;
  color: var(--black-color);
  line-height: 40px;  
  display: flex;
  flex: 1;
}

.content-header__option {
  height: 24px;
  font-size: 1.6rem;
  transform: translateY(56%);
  border: none;
  outline: none;
  background-color: var(--white-color);
}

.content-header__option:hover {
  cursor: pointer;
}

.content__new-img {
  margin-top: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.content__new-img img {
  width: 100%;
  height: auto;
}

.content__new-interactive {

}

.content__new-feeling {
  margin-top: 10px;
  display: block;
  padding: 0 18px;
  -webkit-user-select: none;
  user-select: none;
}

.content-feeling__icon button {
  font-size: 2.2rem;
  border: none;
  outline: none;
  background-color: var(--white-color);
  padding: 8px;
}

.content-feeling__icon:hover button {
  cursor: pointer;
}

.content-feeling__icon-special {
  padding-left: 0 !important;
}

.content-feeling__icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.content-feeling__icon .content-feeling__icon--save {
  display: inline-block;
  transform: translateX(905%);
}

.content__new-views {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 8px;
  width: 100%;
  height: 18px;
  line-height: 18px;
  display: block;
  padding: 0 18px;
  color: var(--black-color);
  -webkit-user-select: none;
  user-select: none;
}

.content__new-desc {
  width: 100%;
  margin-top: 10px;
  padding: 0 18px;
}

.content-desc__name {
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}

.content-desc__name:hover {
  text-decoration: underline;
}

.content-desc__caption {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 3px;
}

.content-desc__comment {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #989898;
  display: block;
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
}

.content-desc__comment:hover {
  cursor: pointer;
}

.content-desc__post-time {
  color: #989898;
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
  margin: 10px 0 10px;
}

.content__new-add-cmt {
  height: 49px;
  /* line-height: 49px; */
  border-top: 1px solid var(--border-color);
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.content-cmt-icon {
  height: 49px;
  line-height: 49px;
  font-size: 2.1rem;
  padding-left: 18px;
  transform: translateY(3%);
}

.content-cmt-icon:hover {
  cursor: pointer;
}

.content-cmt-comment {
  top: 5px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2px 0 2px 12px;
  text-decoration: none;
}

.content-cmt-confirm {
  font-size: 1.4rem;
  font-weight: 500;
  color: #00a2f8;
  line-height: 52px;
  padding-right: 19px;
  opacity: 0.6;
}

/* Thao tác */
.personal {
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: space-between;
}

.personal-several {
  display: flex;
  align-items: center;
}

.personal__img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  user-select: none;
}

.personal__name {
  font-size: 1.4rem;
  padding-left: 16px;
}

.personal__name-account {
  font-weight: 500;
  color: var(--black-color);
  height: 20px;
}

.personal__name-cognomen {
  color: #919191;
  font-size: 1.5rem;
  font-weight: 300;
  height: 20px;
}

.personal__change {
  font-size: 1.3rem;
  color: #0095f6;
  font-weight: 600;
  user-select: none;
}

/* Gợi ý */
.see-more {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 322px;
}

.see-more__suggest {
  font-weight: 600;
  color: #8e8e8e;
  font-size: 1.4rem;
}

.see-more__see-all {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black-color);
  user-select: none;
}


.suggestions__list {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 4px;
}

.suggestions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.suggestions__item-user {
  display: flex;
  align-items: center;
}

.suggestions-user__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  user-select: none;
}

.suggestions-user__name {
  margin-left: 12px;
}

.suggestions-user__account {
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 500;
  height: 20px;
  line-height: 20px;
}

.suggestions-user__suggest {
  font-size: 1.2rem;
  font-weight: 300;
  color: #8e8e8e;
  height: 20px;
  line-height: 20px;
}

.suggestions__more {
  font-size: 1.3rem;
  font-weight: 600;
  color: #0095f6;
  user-select: none;
}

/* Footer */
.footer {
  margin-top: 20px;
  width: 250px;
}

.footer__support {
  margin-left: -4px;
}

.footer__support-item {
  display: inline;
}

.footer__support-private {
  text-decoration: none;
  font-size: 1.2rem;
  color: #c7c7c7;
  font-weight: 400;
  margin-left: 4px;
  height: 18px;
  line-height: 18px;
}

.footer__support-private:hover {
  text-decoration: underline;
}

.footer__support-private--orther:hover {
  text-decoration: none;
}

.footer__copyright {
  margin-top: 16px;
  color: #c7c7c7;
  user-select: none;
}

.footer__copyright-icon {
  font-size: 1.2rem;
  font-weight: 200;
}

.footer__copyright-genitive {
  font-size: 1.2rem;
  font-weight: 400;
}